@charset "UTF-8";

section {
    width: 50%;
    height: 500px;
    background-color: rgb(156, 186, 186);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
}

#país {
    width: 150px;
    height: 20px;
    padding: 10px;
}
#texto {
    width: 150px;
    height: 20px;
}

p {
    font-size: 18px;
}